@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Color palette memo */
  --palette-mint: #98dbc6;
  --palette-seafoam: #5bc8ac;
  --palette-sunlit: #e6d72a;
  --palette-rose: #f18d9e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
